<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ardufit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body style="background-color:mediumturquoise;">
    <a href="/">
      <img src="ardufit_logo.png" alt="Italian Trulli" width="50%">
    </a>
    <div class="content">
      <h1>Collaborators:</h1>
      <ul>
        <li>Gustavo Placencia Carranza</li>
        <li>Roni Salman</li>
        <li>Davis Uto</li>
        <li>Eman Mehramiz</li>
        <li>Shahmir Ansari</li>
      </ul>
      <h1>Special Thanks To</h1>
      <ul>
        <li>Rich Thompson</li>
        <li>Peter Jansen</li>
      </ul>
      <h1>Hardware:</h1>
      <ul>
        <li>Adafruit Feather nRF52 Bluefruit LE</li>
        <li>Adafruit LSM9DS1</li>
      </ul>
      <h1>Software:</h1>
      <ul>
        <li>Node.js: express, body-parser, client-sessions, mysql</li>
        <li>p5: p5.Serial, p5.DOM, p5</li>
        <li>ejs</li>
        <li>MySQL</li>
      </ul>
    </div>
  </body>
</html>
