<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ardufit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body style="background-color:mediumturquoise;">
    <a href="/">
      <img src="ardufit_logo.png" alt="Italian Trulli" width="50%">
    </a>
    <div class="topnav">
      <a href="sketch">Sketch</a>
      <a href="about">About</a>
      <a href="dashboard">Dashboard</a>
      <a href="logout" style="float:right">Logout</a>
    </div>
    <div class="content">
      <% if (name) { %>
        <h3>Welcome, <%= name %></h3>
      <% } %>
      <% if (points) { %>
        <h3 id="points">You have <%= points %> points.</h3>
      <% } %>
    </div>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js"></script>
    <script>
    Chart.defaults.global.defaultFontColor = 'white';
    var ctx = document.getElementById('myChart');
    var points = <%= points %>;
    var entries = <%- JSON.stringify(entries) %>;
    var date_array = [];
    var point_array = [];
    for (var e of entries) {
      date_array.push(e.date.slice(5, 10).replace('-', '/'));
    }
    date_array.reverse();
    for (var e of entries) {
      point_array.push(e.points);
    }
    point_array.reverse();
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: date_array,
            datasets: [{
                label: 'Points',
                data: point_array,
                lineTension: 0,
                backgroundColor: [
                    'transparent'
                ],
                borderColor: [
                    'white'
                ],
                borderWidth: 5
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Points Earned Last 7 Days',
                fontSize: 30,
                fontColor: 'white',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: 'white',
                    },
                    gridLines: {
                      display: true,
                      color: 'mediumturquoise',
                      borderWidth: 20,
                      drawBorder: true,
                      zeroLineColor: 'mediumturquoise',
                    },
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero: false,
                        fontColor: 'white',
                    },
                    gridLines: {
                      display: true,
                      color: 'mediumturquoise',
                      borderWidth: 20,
                      drawBorder: true,
                      zeroLineColor: 'mediumturquoise',
                    },
                }]
            },
        }
    });
    </script>
  </body>
</html>
