<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ardufit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script language="javascript" type="text/javascript" src="libraries/p5.js"></script>
	  <script language="javascript" type="text/javascript" src="libraries/p5.serialport.js"></script>
	  <script language="javascript" type="text/javascript" src="sketch.js"></script>
  </head>
  <body>
    <h1> HOWS IT GOING CAPSTONE PEEPS <h1>
    <p style="color:black;"> I gotta run the site on my port 3000 cos my http port 80 gets blocked by my ISP but its w/e.
      I ordered a small microcontroller with onboard bluetooth so hopefully I'll
      have a working demo to show you guys in a couple of weeks. We can buy 2 lipoly
      batteries and charge one while the other is being used during the demo at the
      showcase. They go for ~10 bucks a pop. Lemme know if you got anything you want
      me to put on here.
    <p>
    <img src="https://thumbs.gfycat.com/DistinctThunderousCatfish-small.gif" alt="Coming_soon">
    <!-- <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="message" type="text" class="ghost-input" placeholder="Enter Message" required>
          <input type="submit" class="ghost-button" value="Send">
        </form>
      </fieldset>
    </div> -->
  </body>
</html>
