<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ardufit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <img src="ardufit_logo.png" alt="Italian Trulli" width="50%">
    <img src="https://thumbs.gfycat.com/DistinctThunderousCatfish-small.gif" alt="Coming_soon">
    <div class="container">
      <h3><%= name %></h3>
      <fieldset>
        <form action="/" method="post">
          <input name="message" type="text" class="ghost-input" placeholder="Enter Message" required>
          <input type="submit" class="ghost-button" value="Send">
        </form>
      </fieldset>
    </div>
    <a href="about">About Page</a><br>
    <a href="sketch">Sketch</a>
  </body>
</html>
