<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ardufit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body style="background-color:mediumturquoise;">
    <a href="/">
      <img src="ardufit_logo.png" alt="Italian Trulli" width="50%">
    </a>
    <div class="topnav">
      <a href="sketch">Sketch</a>
      <a href="about">About</a>
      <% if(name) { %>
        <a href="dashboard">Dashboard</a>
        <a href="logout">Logout</a>
      <% } else { %>
        <a href="signup">Sign Up</a>
        <a href="login">Login</a>
      <% } %>
    </div>
    <iframe width="420" height="315"src="https://www.youtube.com/embed/3MtJFKxYf0k">
    </iframe>
    <div class="content">
    </div>
    <table align="center">
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Points</th>
      </tr>
      <% var rank = 1; %>
      <% leaderboard.forEach(function(user) {%>
        <tr>
          <td><%= rank %></th><td><%= user.user_name %></td><td><%= user.points %><% rank++ %></td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
