<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ardufit</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body style="background-color:mediumturquoise;">
    <a href="/">
      <img src="ardufit_logo.png" alt="Italian Trulli" width="50%">
    </a>
    <form action="/dashboard" method="post">
      <input name="message" type="text" class="ghost-input" placeholder="Enter Username" required>
      <input type="submit" class="ghost-button" value="Submit">
    </form>
  </body>
</html>
